﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Stock_Ease</title>

    
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
          integrity="sha512-dNrYxx6n3FQijvyoeF7Yt76wHcBCLPYP0s2gKl/vzTVPvylDzL/wQmNocK58yT/4wSd9qJ44pLq4Zl5pPZ/7Nw=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />

    
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    @RenderSection("Styles", required: false)

    
    <style>
        
        
        .main-content {
            margin-left: 280px;
            transition: margin-left 0.3s ease;
            padding: 2rem;
        }
        
    </style>
</head>
@{
    
    var controllerName = ViewContext.RouteData.Values["controller"]?.ToString()?.ToLowerInvariant() ?? "unknown";
    var bodyClass = $"controller-{controllerName}";
}
<body class="@bodyClass">
    
    <div id="toast-container" class="toast-container"></div>

	
    
    <partial name="_Sidebar" /> 

    
    <div class="main-content">
        @RenderBody()
    </div>

    

    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.1/signalr.min.js"></script> 
    
    <script src="~/js/site.js" asp-append-version="true"></script>

    

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
